# Homework 2

In this homework you will be working with json data and TinyDB. The overall task is to query the Citibikes NYC server ( https://gbfs.citibikenyc.com/gbfs/en/station_status.json ), store the data in a TinyDB database, and infer activities for the stations. Sample starter code relating to these subtasks was discussed in class.


You will be required to query the server at 3 different times of a day (preferably a weekday). Make sure that these times are spread apart by at least a couple of hours. 3 good times may be morning, afternoon, evening. 

You may query the data, save the results in 3 JSON files on your laptop, load the JSON files, and then insert them into the database. This approach may be easier rather than querying the data live each time you test the code. IMPORTANT: You need to insert one record (for each station) at a time into the database. Do not upload the entire JSON file into the database even if the database allows you to do this. 


Rename this file as <i>YourfirstinitialLastname.ipynb</i> and insert your code in the appropriate parts. For example, John Doe would name his solution file as <i>JDoe.ipynb</i> . 

Your database file should be named <i>citibikenyc-YourfirstinitialLastname.json</i> . John Doe's database file would be named <i>citibikenyc-JDoe.json</i> . 

Your submission should consist of both the ipynb file and the json file. 

<b>IMPORTANT</b> (1) Make sure that your code is organized, documented, and contains only what is being asked for in the question. (2) This homework requires you to run the code at three different times of a day (preferably a weekday), so make sure that you start the homework early.

## Part I (20 points)
Query the Citibikes server and load the JSON data for the stations into a Python list.

The JSON data containing information for each station as shown below. Note the field names. The id of the station is stored in a <b>string</b> field named <b>station_id</b>. The legacy id of the station is stored in a <b>string</b> field named <b>legacy_id</b>.

{'num_scooters_unavailable': 0,
 'last_reported': 1614989202,
 'num_docks_disabled': 0,
 'station_status': 'active',
 'is_returning': 1,
 'num_bikes_disabled': 1,
 'num_ebikes_available': 0,
 'is_renting': 1,
 'legacy_id': '3340',
 'station_id': '66de11bc-0aca-11e7-82f6-3863bb44ef7c',
 'num_docks_available': 1,
 'num_scooters_available': 0,
 'is_installed': 1,
 'eightd_has_available_keys': False,
 'num_bikes_available': 19}

Load the data for the stations into a Pandas DataFrame and display the first 10 rows.

In [1]:
# importing required libraries
import requests
import pandas as pd
import json

In [2]:
# querying the citibikes servers for the data

# Date: March 3rd, 2023 (Friday)

# reading 1: 09:00 AM
# stations_am = json.loads(response.content.decode('utf-8'))['data']['stations']
# with open("./stations_am.json", "w") as f:
#     json.dump(stations_am, f)

In [3]:
# loading the json arrays into python lists
with open('./stations_am.json', 'r') as f:
    stations_am = json.loads(f.read())

In [4]:
# checking out one json object to get an idea of the general structure
stations_am[0]

{'eightd_has_available_keys': False,
 'num_bikes_disabled': 2,
 'num_bikes_available': 0,
 'num_docks_available': 38,
 'station_status': 'active',
 'is_renting': 1,
 'num_scooters_available': 0,
 'legacy_id': '3584',
 'num_ebikes_available': 0,
 'last_reported': 1677851898,
 'is_installed': 1,
 'num_scooters_unavailable': 0,
 'num_docks_disabled': 0,
 'station_id': '1dacb0f6-29f5-4d1b-b910-92ffa5b4ca5d',
 'is_returning': 1}

In [5]:
# loading the data into a pandas dataframe
stations = pd.DataFrame(stations_am)
# checking whether all the entries are in the dataframe
len(stations) == len(stations_am)

True

In [6]:
# displaying the first 10 rows of the dataframe
stations.head(10)

,eightd_has_available_keys,num_bikes_disabled,num_bikes_available,num_docks_available,station_status,is_renting,num_scooters_available,legacy_id,num_ebikes_available,last_reported,is_installed,num_scooters_unavailable,num_docks_disabled,station_id,is_returning,eightd_active_station_services,valet
0,False,2,0,38,active,1,0.0,3584,0,1677851898,1,0.0,0,1dacb0f6-29f5-4d1b-b910-92ffa5b4ca5d,1,NaN,NaN
1,False,2,14,4,active,1,0.0,4175,2,1677851906,1,0.0,0,4e747443-d481-4aea-a6d1-cf20204af4ba,1,NaN,NaN
2,False,2,10,8,active,1,0.0,4567,2,1677851907,1,0.0,0,6542d952-ca19-410e-9290-ee6b7a6e14cf,1,NaN,NaN
3,False,0,1,23,active,1,0.0,4565,1,1677851907,1,0.0,0,c8c39d85-4ce7-46c5-b709-998067200780,1,NaN,NaN
4,False,2,6,25,active,1,0.0,3814,4,1677851907,1,0.0,0,6fd61eee-d0ef-4580-9704-bd06b82bcb61,1,NaN,NaN
5,False,0,8,11,active,1,0.0,4efda436-cd19-4ec3-acc7-1a622f723264,1,1677851901,1,0.0,0,4efda436-cd19-4ec3-acc7-1a622f723264,1,NaN,NaN
6,False,0,3,32,active,1,0.0,3543,1,1677851901,1,0.0,0,d80c274e-d17d-4a00-9b76-274c9fe4d0e1,1,NaN,NaN
7,False,2,2,23,active,1,0.0,4184,2,1677851906,1,0.0,0,82c85f05-4722-48ae-9f64-0522012eb3c8,1,NaN,NaN
8,False,1,5,15,active,1,0.0,3498,2,1677851904,1,0.0,0,20ff5447-eac3-43b7-820f-f6fa3a2e12a8,1,NaN,NaN
9,False,1,10,8,active,1,0.0,2ebbe93b-a013-464a-b4a5-0eba96f89676,8,1677851904,1,0.0,0,2ebbe93b-a013-464a-b4a5-0eba96f89676,1,NaN,NaN

## Part II (20 points)

Save your data into a TinyDB database with the following modifications: 

<i>num_bikes_available</i> and <i>last_reported</i> should both be lists of their singleton values. For example, the earlier record would look like the following in the database: 

{'num_scooters_unavailable': 0,
 <b>'last_reported': [1614989202]</b>,
 'num_docks_disabled': 0,
 'station_status': 'active',
 'is_returning': 1,
 'num_bikes_disabled': 1,
 'num_ebikes_available': 0,
 'is_renting': 1,
 'legacy_id': '3340',
 'station_id': '66de11bc-0aca-11e7-82f6-3863bb44ef7c',
 'num_docks_available': 1,
 'num_scooters_available': 0,
 'is_installed': 1,
 'eightd_has_available_keys': False,
 <b>'num_bikes_available': [19]</b>}

(The last_reported field is in Epoch time, a common way of expressing timestamps in datastores. Try to understand what this time means through an internet search.) 

Query your database for two different station ids and show the results of your query. The results should look similar to the record above.

In [7]:
from tinydb import TinyDB, Query, table

In [8]:
# converting 'last_reported' and 'num_bikes_available' into lists of their singleton values
for i in range(len(stations_am)):
    if stations_am[i]['last_reported'] == None:
        stations_am[i]['last_reported'] = []
    else:
        stations_am[i]['last_reported'] = [stations_am[i]['last_reported']]
    if stations_am[i]['num_bikes_available'] == None:
        stations_am[i]['num_bikes_available'] = []
    else:
        stations_am[i]['num_bikes_available'] = [stations_am[i]['num_bikes_available']]
    
stations_am[0]

{'eightd_has_available_keys': False,
 'num_bikes_disabled': 2,
 'num_bikes_available': [0],
 'num_docks_available': 38,
 'station_status': 'active',
 'is_renting': 1,
 'num_scooters_available': 0,
 'legacy_id': '3584',
 'num_ebikes_available': 0,
 'last_reported': [1677851898],
 'is_installed': 1,
 'num_scooters_unavailable': 0,
 'num_docks_disabled': 0,
 'station_id': '1dacb0f6-29f5-4d1b-b910-92ffa5b4ca5d',
 'is_returning': 1}

In [9]:
# creating a TinyDB database
db = TinyDB('./citibikenyc-VYanamandra.json')
db.truncate()
db.all()

[]

In [10]:
# saving the json objects into TinyDB one-by-one using a for-loop
for x in stations_am:
    db.insert(x)

In [11]:
# query 1
q = Query()
db.search(q.station_id == '82c85f05-4722-48ae-9f64-0522012eb3c8')

[{'eightd_has_available_keys': False,
  'num_bikes_disabled': 2,
  'num_bikes_available': [2],
  'num_docks_available': 23,
  'station_status': 'active',
  'is_renting': 1,
  'num_scooters_available': 0,
  'legacy_id': '4184',
  'num_ebikes_available': 2,
  'last_reported': [1677851906],
  'is_installed': 1,
  'num_scooters_unavailable': 0,
  'num_docks_disabled': 0,
  'station_id': '82c85f05-4722-48ae-9f64-0522012eb3c8',
  'is_returning': 1}]

In [12]:
# query 2
db.search(q.station_id == 'c8c39d85-4ce7-46c5-b709-998067200780')

[{'eightd_has_available_keys': False,
  'num_bikes_disabled': 0,
  'num_bikes_available': [1],
  'num_docks_available': 23,
  'station_status': 'active',
  'is_renting': 1,
  'num_scooters_available': 0,
  'legacy_id': '4565',
  'num_ebikes_available': 1,
  'last_reported': [1677851907],
  'is_installed': 1,
  'num_scooters_unavailable': 0,
  'num_docks_disabled': 0,
  'station_id': 'c8c39d85-4ce7-46c5-b709-998067200780',
  'is_returning': 1}]

## Part III (20 points)

Query the server at least two additional times on the same day as Part I to collect two additional datasets. Make sure that these times are spread apart by at least a couple of hours. You could, for example, query in the morning for Part I and in the afternoon and evening for this part. 

(You may query for all the data on a single day, save the results in 3 JSON files and load the JSON files as JSON Objects and then insert them into the database. This approach may be easier rather than querying the data live each time you test the code.)

Merge the collected data for the fields <i>num_bikes_available</i> and <i>last_reported</i> for each station into the database by appending to the appropriate lists in the database. Note that this operation may take a while to complete. 

IMPORTANT: Define a function that you will invoke twice to add the 2 sets of data.

The data for a station may look like the following after the merge:

{'num_scooters_unavailable': 0,
 'last_reported': <b>'last_reported': [1614989202, 1614990202, 1614991805]</b>,
 'num_docks_disabled': 0,
 'station_status': 'active',
 'is_returning': 1,
 'num_bikes_disabled': 1,
 'num_ebikes_available': 0,
 'is_renting': 1,
 'legacy_id': '3340',
 'station_id': '66de11bc-0aca-11e7-82f6-3863bb44ef7c',
 'num_docks_available': 1,
 'num_scooters_available': 0,
 'is_installed': 1,
 'eightd_has_available_keys': False,
 <b>'num_bikes_available': [19, 16, 20]</b>}


Note: It is possible, but not highly likely, that a station may be added or deleted between different queries. You may get some errors if this happens. It is good to guard against this event. 

Query your database for the same station ids as in Part II and show the results.

In [13]:
# querying the citibikes servers for readings 2 and 3, made on the same day as reading 1

# reading 2: 01:00 PM
# stations_noon = json.loads(response.content.decode('utf-8'))['data']['stations']
# with open("./stations_noon.json", "w") as f:
#     json.dump(stations_noon, f)

# reading 3: 05:30 PM
# response = requests.get("https://gbfs.citibikenyc.com/gbfs/en/station_status.json")
# stations_pm = json.loads(response.content.decode('utf-8'))['data']['stations']
# with open("./stations_pm.json", "w") as f:
#     json.dump(stations_pm, f)

In [14]:
# loading the data into python lists
with open('./stations_noon.json', 'r') as f:
    stations_noon = json.loads(f.read())
    
with open('./stations_pm.json', 'r') as f:
    stations_pm = json.loads(f.read())

In [15]:
def merge_citidata(db, json_object):
    '''
        Function to merge the data from a json array into TinyDB. 
        If the station_id does not exist in any record in the database, a new record is added.
        If the station_id exists in a record in the database, the 'last_reported' and 'num_bikes_available' 
        values are appendedto the corresponding fields in the record.
    '''
    for j in json_object:
        x = db.search(q.station_id == j['station_id'])
        if not x:
            j['last_reported'] = [j['last_reported']]
            j['num_bikes_available'] = [j['num_bikes_available']]
            db.insert(j)
        else:
            x[0]['last_reported'].append(j['last_reported'])
            x[0]['num_bikes_available'].append(j['num_bikes_available'])
            db.update({'last_reported': x[0]['last_reported'], 'num_bikes_available': x[0]['num_bikes_available']}, q.station_id == j['station_id'])

In [16]:
# mergining stations_noon data with existing data in the database
merge_citidata(db, stations_noon)

In [17]:
# mergining stations_pm data with existing data in the database
merge_citidata(db, stations_pm)

In [18]:
# query 1
db.search(q.station_id == '82c85f05-4722-48ae-9f64-0522012eb3c8')

[{'eightd_has_available_keys': False,
  'num_bikes_disabled': 2,
  'num_bikes_available': [2, 1, 0],
  'num_docks_available': 23,
  'station_status': 'active',
  'is_renting': 1,
  'num_scooters_available': 0,
  'legacy_id': '4184',
  'num_ebikes_available': 2,
  'last_reported': [1677851906, 1677866361, 1677882395],
  'is_installed': 1,
  'num_scooters_unavailable': 0,
  'num_docks_disabled': 0,
  'station_id': '82c85f05-4722-48ae-9f64-0522012eb3c8',
  'is_returning': 1}]

In [19]:
# query 2
db.search(q.station_id == 'c8c39d85-4ce7-46c5-b709-998067200780')

[{'eightd_has_available_keys': False,
  'num_bikes_disabled': 0,
  'num_bikes_available': [1, 2, 1],
  'num_docks_available': 23,
  'station_status': 'active',
  'is_renting': 1,
  'num_scooters_available': 0,
  'legacy_id': '4565',
  'num_ebikes_available': 1,
  'last_reported': [1677851907, 1677866378, 1677882405],
  'is_installed': 1,
  'num_scooters_unavailable': 0,
  'num_docks_disabled': 0,
  'station_id': 'c8c39d85-4ce7-46c5-b709-998067200780',
  'is_returning': 1}]

## Part IV (20 points)

Insert an additional field named <i>activity</i> into the record for each station in the database. The value for this field should capture the absolute difference between the number of available bikes for each successive pair of queries to the citibikenyc server. For example, the record for station with legacy_id 3340 would look like the following: 

{'num_scooters_unavailable': 0,
 'last_reported': <b>'last_reported': [1614989202, 1614990202, 1614991805]</b>,
 'num_docks_disabled': 0,
 'station_status': 'active',
 'is_returning': 1,
 'num_bikes_disabled': 1,
 'num_ebikes_available': 0,
 'is_renting': 1,
 'legacy_id': '3340',
 'station_id': '66de11bc-0aca-11e7-82f6-3863bb44ef7c',
 'num_docks_available': 1,
 'num_scooters_available': 0,
 'is_installed': 1,
 'eightd_has_available_keys': False,
 <b>'num_bikes_available': [19, 16, 20]</b>, <b>'activity': [3, 4]</b>}
 

Note: The activity field is capturing the number of bikes rented out/returned in the two time intervals between the three queries to the citibikenyc server. 


Query your database for the same station ids as in Part III and IV and show the results.

In [20]:
def add_activity(db):
    db_all = db.all()
    for x in db_all:
        ac = []
        for i in range(1, len(x['num_bikes_available'])):
            ac.append(abs(x['num_bikes_available'][i] - x['num_bikes_available'][i-1]))
        db.update({'activity': ac}, q.station_id == x['station_id'])

In [21]:
add_activity(db)

In [22]:
# query 1
db.search(q.station_id == '82c85f05-4722-48ae-9f64-0522012eb3c8')

[{'eightd_has_available_keys': False,
  'num_bikes_disabled': 2,
  'num_bikes_available': [2, 1, 0],
  'num_docks_available': 23,
  'station_status': 'active',
  'is_renting': 1,
  'num_scooters_available': 0,
  'legacy_id': '4184',
  'num_ebikes_available': 2,
  'last_reported': [1677851906, 1677866361, 1677882395],
  'is_installed': 1,
  'num_scooters_unavailable': 0,
  'num_docks_disabled': 0,
  'station_id': '82c85f05-4722-48ae-9f64-0522012eb3c8',
  'is_returning': 1,
  'activity': [1, 1]}]

In [23]:
# query 2
db.search(q.station_id == 'c8c39d85-4ce7-46c5-b709-998067200780')

[{'eightd_has_available_keys': False,
  'num_bikes_disabled': 0,
  'num_bikes_available': [1, 2, 1],
  'num_docks_available': 23,
  'station_status': 'active',
  'is_renting': 1,
  'num_scooters_available': 0,
  'legacy_id': '4565',
  'num_ebikes_available': 1,
  'last_reported': [1677851907, 1677866378, 1677882405],
  'is_installed': 1,
  'num_scooters_unavailable': 0,
  'num_docks_disabled': 0,
  'station_id': 'c8c39d85-4ce7-46c5-b709-998067200780',
  'is_returning': 1,
  'activity': [1, 1]}]

## Part V (20 points)¶

Query your database to compute the number of stations with high activity (>=20) and low activity (<=5) in each of the two time intervals. Display your results. They may look like the following (the actual numbers may differ):

High Activity Stations [10, 29]

Low Activity Stations [205, 308]

There will be 4 counts in total. A station with activity [25, 3] will contribute towards the count for High Activity Stations in the first interval and contribute towards the count for the Low Activity Stations in the second interval. Note that general form of the matrix for the result is as follows:

High Activity Stations [x1, x2]

Low Activity Stations [y1, y2]

x1 and y1 are the counts for the first interval and x2 and y2 are the counts for the second interval. 

The station in the example above (activity [25,3]) will contribute to the value of x1 and y2. 

 If there are just two stations with activity [25,3] and [30, 25], the results would be

          High Activity Stations [2, 1]
          Low Activity Stations [0, 1]

In [24]:
hi1, hi2 = 0, 0
lo1, lo2 = 0, 0

for x in db.all():
    ac = x['activity']
    # there might be less than 2 entries in activity if new stations were added in the latter times
    if len(ac) == 2: 
        # interval 1
        if ac[0] >= 20:
            hi1 += 1
        elif ac[0] <= 5:
            lo1 += 1
        # interval 2    
        if ac[1] >= 20:
            hi2 += 1
        elif ac[1] <= 5:
            lo2 += 1

In [25]:
print("High Activity Stations ", [hi1, hi2])
print("Low Activity Stations ", [lo1, lo2])

High Activity Stations  [16, 28]
Low Activity Stations  [1648, 1626]